*{
    margin: 0;
    padding: 0;
}
:root{
    --bg-color:rgb(81, 81, 235);
}
section{
    padding-bottom: 64px;
    width: 720px;
    margin: auto;
    background-color:var(--bg-color) ;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 48px;
    font-style: italic;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 64px;
}
.main{
    background-color: white;
    margin: auto;
    width: 480px;
    height: 100%;
    padding: 36px 52px 36px 36px;
        
}
button.btn{
    padding: 16px 24px;
    border: none;
    background-color: var(--bg-color) ;
    color: white;
}
.main>button.btn{
    margin-bottom: 56px;
}
form{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form input#first-name, #last-name, #phone{
    width: 100%;
    padding: 16px 0px;
    padding-left: 16px;
    border-radius: 8px ;
    border: solid 1px gray;
    margin-bottom: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input[type = "radio"]{
    border-radius: 8px ;
    border: solid 1px gray;
    margin-bottom: 24px;
}

form textarea#addres{
    width: 100%;
    padding: 16px 0px;
    padding-left: 16px;
    border-radius: 8px ;
    border: solid 1px gray;
    margin-bottom: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100px;
}